.App {
  background-image: url("Assets/Images/Background.png");
  background-size: 1280px 720px;
  height: 100vh;
  image-rendering: pixelated; 
}

.App-header {
  background-color: #7895ab;
  border-style: outset;
  border-width: 10px;
  border-top-color: #a8cfda;
  border-left-color: #a8cfda;
  border-bottom-color: #4d6476;
  border-right-color: #4d6476;
  margin-top: 100px;
  margin-left: 100px;
  margin-right: 100px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: #decb9f;
}


